<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key><string>Lifepoint Transcriber</string>
	<key>CFBundleDisplayName</key><string>Lifepoint Transcriber</string>
	<key>CFBundleIdentifier</key><string>church.lifepoint.transcriber</string>
	<key>CFBundleExecutable</key><string>Transcriber</string>
	<key>CFBundleIconFile</key><string>AppIcon</string>
	<key>CFBundleIconName</key><string>AppIcon</string>
	<key>CFBundlePackageType</key><string>APPL</string>
	<key>CFBundleShortVersionString</key><string>__VERSION__</string>
	<key>CFBundleVersion</key><string>__BUILD__</string>
	<key>LSMinimumSystemVersion</key><string>14.0</string>
	<key>LSUIElement</key><true/>
	<key>NSMicrophoneUsageDescription</key><string>Lifepoint Transcriber listens to the sound board to create live captions.</string>
	<key>NSHighResolutionCapable</key><true/>
	<key>PCOClientID</key><string>__PCO_CLIENT_ID__</string>
	<key>PCOClientSecret</key><string>__PCO_CLIENT_SECRET__</string>
	<key>SUFeedURL</key><string>https://github.com/iamanthonyterry/transcriber/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key><string>IdVQPAGOXjruuLtPzqy1ZTI6lbSyuAm/aXY5V4lx7ws=</string>
	<key>SUEnableAutomaticChecks</key><true/>
	<key>SUAutomaticallyUpdate</key><true/>
	<key>SUScheduledCheckInterval</key><integer>14400</integer>
</dict>
</plist>
